<footer class="footer bg-primary">
    <div class="container-footer">
        <div class="footer-content">
            <div class="contact">
                <div class="contact-link">
                    <ul class="nav-list">
                        <li><a href="index.html">首頁</a></li>
                        <li><a href="frames.html">系列鏡框</a></li>
                        <li><a href="location.html">門市據點</a></li>
                        <li><a href="blog.html">部落格</a></li>
                        <li><a href="qa.html">常見問題</a></li>
                    </ul>
                    <div class="contact-info">
                        <p>
                            <span class="material-symbols-outlined">call</span>
                            0800-000-00
                        </p>
                        <p>
                            <span class="material-symbols-outlined">mail</span>
                            glasses@business.com
                        </p>
                    </div>
                </div>
                <div class="contact-social">
                    <a href="#"><img src="../assets/images/ic-social-fb.png" alt="ic-social-fb"></a>
                    <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ic-social-ig"></a>
                    <a href="#"><img src="../assets/images/ic_social_line.png" alt="ic-social-line"></a>
                </div>
            </div>
            <div class="copyright">
                <p class="en-txt">Copyright © 2020 Glasses.All rights reserved.</p>
                <p>
                    <a href="#">隱私權政策</a>
                </p>
                <p>
                    <a href="#">服務條款</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</footer>