<header class="header bg-primary">
    <div class="container-header">
        <div class="header-content">
            <div class="logo">
                <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white"></a>
            </div>
            <nav>
                <ul class="main-nav text-center">
                    <li><a href="frames.html">系列鏡框</a></li>
                    <li><a href="location.html">門市據點</a></li>
                    <li><a href="blog.html">部落格</a></li>
                    <li><a href="qa.html">常見問題</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>