.section-location{
    h3{
        font-size: 24px;
        padding: 8px 24px;
        border: 1px solid #00000020;
    }

    .store{
        width: 40%;

        @include large{
            width: 100%;
            display: flex;
            gap: 24px;
        }
        @include medium{
            display: block;
        }
        img{
            height: 100%;
        }
    }
    .map{
        width: 60%;

        @include large{
            width: 100%;
        }

        img{
            height: 100%;
        }
    }
}