<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- googleicon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="section-banner">
          <div class="container-0">
              <div class="banner-content">
                  <p>Promise-Desert 2020 早春系列</p>
                  <h1>看得清，才能看得遠</h1>
                  <a href="#">立即購買</a>
              </div>
          </div>
      </section>
      <section class="section-service">
          <div class="container">
              <div class="main-title">
                  <h2>用專業的心，做專業的事</h2>
              </div>
              <div class="main-content">
                  <div class="card-list-m">
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100 text-center">
                          <img src="../assets/images/home-section2-1.png" alt="home-section2-1">
                          <h3>單一價格</h3>
                          <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                      </div>
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100 text-center">
                          <img src="../assets/images/home-section2-2.png" alt="home-section2-2">
                          <h3>20 分鐘即可取件</h3>
                          <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                      </div>
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100 text-center">
                          <img src="../assets/images/home-section2-3.png" alt="home-section2-3">
                          <h3>安心售後服務</h3>
                          <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                      </div>
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100 text-center">
                          <img src="../assets/images/home-sectioin2-4.png" alt="home-sectioin2-4">
                          <h3>關於鏡片</h3>
                          <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section-classic">
          <div class="container">
              <div class="main-title">
                  <h2>經典系列鏡框</h2>
              </div>
              <div class="main-content">
                  <div class="card-list-m">
                      <div class="list-item list-item-33 list-item-md-100 text-center">
                          <div class="pic">
                              <img src="../assets/images/home-section3-1.png" alt="home-section3-1">
                          </div>
                          <h3 class="en-txt">OPTICAL</h3>
                      </div>
                      <div class="list-item list-item-33 list-item-md-100 text-center">
                          <div class="pic">
                              <img src="../assets/images/home-section3-2.png" alt="home-section3-2">
                          </div>
                          <h3 class="en-txt">SUNGLASSES</h3>
                      </div>
                      <div class="list-item list-item-33 list-item-md-100 text-center">
                          <div class="pic">
                              <img src="../assets/images/home-section3-3.png" alt="home-section3-3">
                          </div>
                          <h3 class="en-txt">FUNCTIONAL</h3>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section-brand">
          <div class="container">
              <div class="main-title">
                  <h2>聯名設計鏡框</h2>
              </div>
              <div class="main-content">
                  <div class="card-list">
                      <div class="list-item-50 list-item-md-100 text-center">
                          <picture>
                              <source media="(max-width: 768px)" srcset="../assets/images/home-section4-1-sm.png">
                              <img src="../assets/images/home-section4-1.png" alt="home-section4-1">
                          </picture>
                          <h3 class="en-txt">DOUBLE A+</h3>
                      </div>
                      <div class="list-item-50 list-item-md-100 text-center">
                          <picture>
                              <source media="(max-width: 768px)" srcset="../assets/images/home-section4-2-sm.png">
                              <img src="../assets/images/home-section4-2.png" alt="home-section4-2">
                          </picture>
                          <h3 class="en-txt">YOUTH</h3>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section-recommend">
          <div class="container">
              <div class="main-title">
                  <h2>顧客推薦</h2>
              </div>
              <div class="main-content">
                  <div class="card-list-m">
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100">
                          <div class="pic">
                              <img src="../assets/images/home-section5-1.png" alt="home-section5-1">
                          </div>
                          <div class="recommend-txt">
                              <p>Jessy</p>
                              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                              <time datetime="2021-06-20">2021/06/20</time>
                          </div>
                      </div>
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100">
                          <div class="pic">
                              <img src="../assets/images/home-section5-2.png" alt="home-section5-2">
                          </div>
                          <div class="recommend-txt">
                              <p>凱倫</p>
                              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                              <time datetime="2021-04-18">2021/04/18</time>
                          </div>
                      </div>
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100">
                          <div class="pic">
                              <img src="../assets/images/home-section5-3.png" alt="home-section5-3">
                          </div>
                          <div class="recommend-txt">
                              <p>悠悠</p>
                              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                              <time datetime="2020-12-25">2020/12/25</time>
                          </div>
                      </div>
                      <div class="list-item list-item-25 list-item-md-50 list-item-sm-100">
                          <div class="pic">
                              <img src="../assets/images/home-section5-4.png" alt="home-section5-4">
                          </div>
                          <div class="recommend-txt">
                              <p>Kyuan</p>
                              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                              <time datetime="2020-10-31">2020/10/31</time>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section-form bg-light">
          <div class="container">
              <div class="main-title">
                  <h2>聯絡我們</h2>
              </div>
              <div class="main-content list-item-50 list-item-md-83 list-item-sm-100">
                  <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                  <form>
                      <div class="list-form">
                          <label for="name">姓名</label>
                          <input type="text" id="name" placeholder="陳小明">
                      </div>
                      <div class="list-form">
                          <label for="telephone">聯絡電話</label>
                          <input type="text" id="telephone" placeholder="0912-345-678">
                      </div>
                      <div class="list-form">
                          <label for="email">電子郵件</label>
                          <input type="text" id="email" placeholder="example@email.com">
                      </div>
                      <div class="list-form">
                          <label for="feedback">意見反應</label>
                          <input class="feedback" type="text" id="feedback" placeholder="請輸入您的意見">
                      </div>
                      <div>
                          <input type="checkbox" id="privacy">
                          <label for="privacy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                      </div>
                  </form>
                  <button type="button">確認送出</button>
              </div>
          </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
